body {
  height: 100vh;
  background: #eee;
}

h1, h2{
   text-align: center;
}

.update
{
  margin-right: 3px;
}

.card-title
{
  text-align: left;
  font-size: 35px;
  font-family: "Google Sans",Roboto,Arial,sans-seriff;
  font-weight: bold;
}

.updated
{
  font-size: 10px;
 
}

span{
  margin-left: 3px;
}
